h1{
  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 80px;
  padding-left: 200px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
}
.headingstyle{
  color: rgb(0,0,0);
  background-color: rgb(109 172 217);
  /* white-space: pre; */
}
