<div *ngIf="data && errorFlag=='Success'">
  <table>
    <thead>
      <th>#</th>
      <th>Branch Name</th>
      <th>Branch Type</th>
      <th>Details</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of data['0'].PostOffice; index as i ">
        <td>{{i+1}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.BranchType}}</td>
        <td><a mat-icon-button disabled aria-label="Example icon button with a open in new tab icon" routerLink="/data2/{{i}}">
          <mat-icon>open_in_new</mat-icon>
            </a>
        </td>
      </tr>
    </tbody>

  </table>
</div>
