<div *ngIf="data">
  <ul>
    <h2>{{data['0'].PostOffice[itemid].Name}}</h2>
    <h4>Post Office Type: {{data['0'].PostOffice[itemid].BranchType}}</h4>


    <li>Pincode: {{data['0'].PostOffice[itemid].Pincode}}</li>
    <li>Delivery Status: {{data['0'].PostOffice[itemid].DeliveryStatus}}</li>


    <li>Division: {{data['0'].PostOffice[itemid].Division}}</li>
    <li>District: {{data['0'].PostOffice[itemid].District}}</li>
    <li>Circle: {{data['0'].PostOffice[itemid].Circle}}</li>
    <li>Region: {{data['0'].PostOffice[itemid].Region}}</li>
    <li>State: {{data['0'].PostOffice[itemid].State}}</li>
    <li>Country: {{data['0'].PostOffice[itemid].Country}}</li>

  </ul>
</div>
