<h3>List of Post Office Branch Names by Pincode:</h3>
<label for="pincode">Enter Pincode: </label>
<input type="text" id="pincode" [(ngModel)]="pincode_var"> <br><br>
<div class="leftmargin">
  <button mat-raised-button (click)="Submit()" routerLink="/data">Submit</button>
</div>
<br><br>

<h3>List of Pincodes by Branch Name:</h3>
<label for="branch">Enter Branch Name: </label>
<input type="text" id="branch" [(ngModel)]="branch_var"> <br><br>
<div class="leftmargin">
  <button mat-raised-button (click)="Submit2()" routerLink="/data2">Submit</button>
</div>



