<br><br><br>
<div class="container2">
  <div>
    <h3>List of Post Office Branch Names <br> by Pincode:</h3>
    <label for="pincode">Enter Pincode: </label>
    <input type="text" id="pincode" [(ngModel)]="pincode_var" required maxlength="6" minlength="6" #pinControl="ngModel" pattern="[0-9]*"> <br>
    <span *ngIf="pinControl.invalid && pinControl.touched" style="color: red;">*please enter a 6 digit pincode</span>
    <br><br>
    <div class="leftmargin">
      <button mat-raised-button (click)="Submit()" routerLink="/data" [disabled]="pinControl.invalid">Submit</button>
    </div>
    <br><br>
  </div>

  <div>
    <h3>List of Pincodes by Branch <br> Name:</h3>
    <label for="branch">Enter Branch Name: </label>
    <input type="text" id="branch" [(ngModel)]="branch_var" required #branchControl="ngModel"> <br>
    <span *ngIf="branchControl.invalid && branchControl.touched" style="color: red;">*input is required</span>
    <br><br>
    <div class="leftmargin">
      <button mat-raised-button (click)="Submit2()" routerLink="/data2" [disabled]="branchControl.invalid">Submit</button>
    </div>
  </div>

</div>






